<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>with code</p>


<%# Ruby Code %>
<% if (params.has_key?(:id) &&
      params.has_key?(:random))
      %><br>
<%# a = {params[:id]} %>
<%#= "Hello world #{@random}\n" %><br>
<%#= "ID: #{params[:id]}" %><br>
<%#= "RANDOM: #{params[:random]}" %><br>
<%#= "ID: #{@id}" %><br>
<%#= "RANDOM: #{@random}" %><br>

<%# else %>
<%# a = 0 %>
<%#= "Hello world\n" %><br>
<% end %>

<%# a =a+1 %>

<%# Ruby Code w/ output %>
<%#= "A = "%><%#= a %>


<%# Comment %>
